#room {
  padding-bottom: 5rem;

  header {
    border-bottom: 1px solid #e2e2e2;

    .content {
      padding: 1rem;
      max-width: 50rem;
      margin-inline: auto;
      display: flex;
      justify-content: space-between;
      column-gap: 1rem;

      > img {
        max-height: 3rem;
      }

      > div {
        display: flex;
        gap: 1rem;
      }
    }
  }

  main {
    max-width: 50rem;
    margin-inline: auto;
    padding: 1rem;

    .room-title {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;

      h1 {
        font-family: "Poppins", sans-serif;
        font-size: 1.5rem;
        color: #29292e;
      }

      span {
        margin-left: 1rem;
        background: #e559f9;
        border-radius: 0.3rem;
        padding: 0.3rem;
        color: #fff;
        font-weight: 500;
        font-size: 0.9rem;
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 1rem;
        border-radius: 0.3rem;
        background: #fefefe;
        box-shadow: 0 0.3rem 0.5rem #ddd;
        resize: vertical;
        min-height: 8rem;
        max-height: 16rem;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block: 1rem;

        > span {
          font-size: 0.9rem;
          color: #737380;
          font-weight: 500;

          button {
            background: transparent;
            border: none;
            color: #835afd;
            text-decoration: underline;
            font-weight: bold;
            font-size: 1rem;
            cursor: pointer;

            &:hover {
              transform: scale(102%);
            }
          }
        }

        .button {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  #room header .content {
    > img {
      height: 2.5rem;
      align-self: flex-start;
    }
  }
}
